.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  
  padding: 24px 20px;
}

.link {
  display: inline-block;
  color: #fff;
  margin-top: 2rem;
}

.footer {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 10%;
}

.button {
  background-color: #202124;
  color: #fff;

  text-decoration: none;
  font-size: 18px;
  
  padding: .5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
}
