.content {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  
  padding: 0px 20px;
}

.link {
  color: #fff;
  margin: .5rem;
}

.nav a {
  color: #fff;
}

.nav a {
  margin: 0 16px;
  padding: 0;
}

.content p {
  margin: 20px 0;
}

.content h1 {
  margin-bottom: 24px;
}

.content h2 {
  font-size: 18px;
}

.page {
  margin: 3rem 3rem;
  background: #202024;
  color: #fff;
  padding: 1.1rem;
  border-radius: 5px;
  line-height: 0;
  text-decoration: none;

  cursor: pointer;
}

.link:hover {
  color: #c1c1c4;
}

.footer {
  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer a {
  padding: .5rem 2rem;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #212124;
  padding: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff
}

.closeModalButton {
  background-color: #880ac4;
  color: #fff;

  font-size: 18px;
  font-weight: bold;
  
  padding: .5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;

  cursor:pointer;
}

.modalContent {
  display: flex;
  margin-top: 26px;
  padding-left: 16px;
}

.button {
  background-color: #202124;
  color: #fff;

  text-decoration: none;
  font-size: 18px;
  
  padding: .5rem 2rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.90);
  position: fixed;
  inset: 0;
}
