.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 20px;

  margin-top: 5rem;
}

.nav a {
  color: #fff;
}